.adminLayout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  background-color: #f8f8f8;
  padding: 40px;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.formTitle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.formGroup {
  margin-bottom: 25px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input[type="file"] {
    padding: 8px;
}

.submitButton {
  background-color: #ffda00;
  color: #000;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #ffc900;
}
